---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot5904965027:AAG7U4UUKkOjV7hWB2zI9IPrHYZvOyLleUw/getUpdates
    body:
      encoding: UTF-8
      string: offset=0&timeout=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"ok":true,"result":[{"update_id":61510801,
        "message":{"message_id":32,"from":{"id":71043908,"is_bot":false,"first_name":"kolas","username":"kolas_b","language_code":"ru"},"chat":{"id":71043908,"first_name":"kolas","username":"kolas_b","type":"private"},"date":1676630602,"text":"asdasd"}}]}
  recorded_at: Fri, 17 Feb 2023 10:43:36 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot5904965027:AAG7U4UUKkOjV7hWB2zI9IPrHYZvOyLleUw/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=71043908&text=%D0%AD%D1%82%D0%BE%D1%82+%D0%B1%D0%BE%D1%82+%D1%80%D0%B0%D1%81%D0%BF%D0%BE%D0%B7%D0%BD%D0%B0%D0%B5%D1%82+%D1%80%D0%B5%D1%87%D1%8C.+%D0%9F%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%2C+%D0%BF%D1%80%D0%B8%D1%88%D0%BB%D0%B8%D1%82%D0%B5+%D0%B0%D1%83%D0%B4%D0%B8%D0%BE+%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5+%F0%9F%98%8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":33,"from":{"id":5904965027,"is_bot":true,"first_name":"test_speechkit_not","username":"test_speechkit_bot"},"chat":{"id":71043908,"first_name":"kolas","username":"kolas_b","type":"private"},"date":1676630616,"text":"\u042d\u0442\u043e\u0442
        \u0431\u043e\u0442 \u0440\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u0435\u0442
        \u0440\u0435\u0447\u044c. \u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430,
        \u043f\u0440\u0438\u0448\u043b\u0438\u0442\u0435 \u0430\u0443\u0434\u0438\u043e
        \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \ud83d\ude0a"}}'
  recorded_at: Fri, 17 Feb 2023 10:43:36 GMT
recorded_with: VCR 6.1.0
