---
http_interactions:
- request:
    method: get
    uri: https://operation.api.cloud.yandex.net/operations/eoiruwe123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Api-Key key2234
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Trace-Id:
      - 85ea19f86c429c9:8b2a8a18d9796c1:85ea19f86c429c9:1
    body:
      encoding: UTF-8
      string: |-
        {
          "done": true,
          "response": {
            "@type": "type.googleapis.com/yandex.cloud.ai.stt.v2.LongRunningRecognitionResponse",
            "chunks": [
            {
              "alternatives": [
              {
                "text": "твой номер 212-85-06",
                "confidence": 1
              }
              ],
              "channelTag": "1"
            }
            ]
          },
          "id": "e03sup6d5h1qr574ht99",
          "createdAt": "2019-04-21T22:49:29Z",
          "createdBy": "ajes08feato88ehbbhqq",
          "modifiedAt": "2019-04-21T22:49:36Z"
        }
  recorded_at: Sat, 18 Feb 2023 19:10:14 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot123token/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=71012308&text=%D1%82%D0%B2%D0%BE%D0%B9+%D0%BD%D0%BE%D0%BC%D0%B5%D1%80+212-85-06
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":87,"from":{"id":5904965027,"is_bot":true,"first_name":"test_speechkit_not","username":"test_speechkit_bot"},"chat":{"id":71043908,"first_name":"user_test_name","username":"test_name","type":"private"},"date":1676739554,"text":"\u0413\u043e\u043b\u043e\u0441\u043e\u0432\u043e\u0435
        \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043e,
        \u0440\u0430\u0441\u043f\u043e\u0437\u043d\u043e\u0432\u0430\u043d\u0438\u0435
        \u0437\u0430\u043f\u0443\u0449\u0435\u043d\u043e..."}}'
  recorded_at: Sat, 18 Feb 2023 19:15:00 GMT
recorded_with: VCR 6.1.0
