---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot123token/getUpdates
    body:
      encoding: UTF-8
      string: offset=0&timeout=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"ok":true,"result":[{"update_id":61510816,
        "message":{"message_id":86,"from":{"id":71043908,"is_bot":false,"first_name":"kolas","username":"kolas_b","language_code":"ru"},"chat":{"id":71043908,"first_name":"kolas","username":"kolas_b","type":"private"},"date":1676739412,"forward_from":{"id":71043908,"is_bot":false,"first_name":"kolas","username":"kolas_b","language_code":"ru"},"forward_date":1676632956,"voice":{"duration":1,"mime_type":"audio/ogg","file_id":"AwACAgIAAxkBAANWY_EDVBKC9a4dgAkhZV7EgPk4hDEAAocjAAIapYBLHz_1yie2ERwuBA","file_unique_id":"AgADhyMAAhqlgEs","file_size":35480}}}]}
  recorded_at: Sat, 18 Feb 2023 16:57:00 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot123token/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=71043908&text=%D0%93%D0%BE%D0%BB%D0%BE%D1%81%D0%BE%D0%B2%D0%BE%D0%B5+%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D0%BE%2C+%D1%80%D0%B0%D1%81%D0%BF%D0%BE%D0%B7%D0%BD%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5+%D0%B7%D0%B0%D0%BF%D1%83%D1%89%D0%B5%D0%BD%D0%BE...
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":87,"from":{"id":5904965027,"is_bot":true,"first_name":"test_speechkit_not","username":"test_speechkit_bot"},"chat":{"id":71043908,"first_name":"kolas","username":"kolas_b","type":"private"},"date":1676739554,"text":"\u0413\u043e\u043b\u043e\u0441\u043e\u0432\u043e\u0435
        \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043e,
        \u0440\u0430\u0441\u043f\u043e\u0437\u043d\u043e\u0432\u0430\u043d\u0438\u0435
        \u0437\u0430\u043f\u0443\u0449\u0435\u043d\u043e..."}}'
  recorded_at: Sat, 18 Feb 2023 16:59:14 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot123token/getUpdates
    body:
      encoding: UTF-8
      string: offset=61510817&timeout=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":[]}'
  recorded_at: Sat, 18 Feb 2023 17:00:55 GMT
recorded_with: VCR 6.1.0
